#slides {
	font-size: 4vh;
	text-align: center;
}

#slides section h1, #slides section h2, #slides section h3, #slides section h4 {
	text-align: center;
}

#slides section {
	text-align: left;
	width: 60vw;
	display: none;
	margin: auto;
}

#slides section.active {
	display: block;
}

#slides section .fragment {
	visibility: hidden;
}

#slides section .fragment.active {
	visibility: visible;
}

#slides section .img-container {
	text-align: center;
}
